
.store-selector {
  background: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 2rem;
  border: 2px solid #000;
  text-align: center;
}
.store-selector input,
.store-selector button {
  width: 100%;
}

input {
  text-align: center;
}
